html{
        font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

img{
    width: 100%;
}

header{
    height: 10em;
    border-bottom: 3px solid #BCBBBB;
}

.left img{
    width: 10em;
}

.right{
    text-align: right;
}

.left,
.right{
   width:50%;
   margin: 0;
   padding: 0;
   height: 100%;
   display: inline-block;
   align-self: center;
   vertical-align: top;
}

.right h1{
    font-size: 3em;
    font-weight: 100;
    margin-bottom: 0;
}

.right h3{
    font-size:2em;
    font-weight: 100;
    margin-top:0.3em;
}

.main{
    margin-top:1em;
}

.img-card{
    width:30%;
    display: inline-block;
    vertical-align: top;
}
.img-card + .img-card{
    margin-left: 5%;
}

.title h2{
    font-size:3em;
    font-weight: 100;
}

h1,h2,h3{
    color: #BCBBBB;
}

.img-card p,
.img-card h2{
    color:#747704;
    text-align: center;
}

.img-card h2{
    font-size:3em;
    margin: 0;
    margin-top:0.3em;
}

